.footerPersonal {
    white-space: nowrap;
}

.containerPersonal {
    border-top: 1px solid grey;
    color: white;
    background-color: #1c1c1e;

}

.containerPersonal a {
    color: #e5e5e5;
}

.containerPersonal a:hover {
    color: #ff7f11;
}

.h5title {
    color: #ff7f11;
}