.buttonMenuBurger{
    background-color: transparent;
    border: none;
}

.threeLines {
    width: 3rem;
    height: 3rem;
}

.offColorBackground {
    background-color: #1c1c1e;
}

.headerText {
    color: #ff7f11;
}

.bodyText {
    color: #e5e5e5;
}

