.areaReview {
    border-top: 1px solid black;
}

.reviewArea {
    border-bottom: 1px solid black;
}

.areaReview h2 {
    color: #ff7f11;
}

.btnModal {
    margin-top: 15px;
    background-color: #ff7f11;
}

.bodyReviews {
    color: #e5e5e5;
}