.navPersonal {
    background-color: #1c1c1e;
}

.navProperties {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logolinks {
    justify-content: center;
    align-items: center;
}