.imgAbout {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}

h5 {
    line-height: 3.5em;
}

strong {
    color: #ff7f11;
}

.textColor{
    color: #e5e5e5;
}